<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form"><!-- class="" action="/test" method="post" onsubmit="return Client.handleSubmit(event)"> -->
                    <input id="text" type="text" name="name" value="" placeholder="Name">
                    <button id="generate" type="submit" name="" value="submit"><!--onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"--> Submit</button>
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="agreement"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                    <div id="error"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Nihillux 2022 &copy</p>
        </footer>

    </body>
</html>
