<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                <h1>NLP</h1>
            </div>
            <div class="">
                Web tool that allows users to run a text through the MeaningCloud API to analize it.
            </div>
        </header>

        <main>
            <section id="card">
                <form id="form"><!-- class="" action="/test" method="post" onsubmit="return Client.handleSubmit(event)"> -->
                    <input id="text" type="text" name="name" value="" placeholder="Enter your text and submit it.">
                    <button id="generate" type="submit" name="" value="submit"><!--onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"--> Submit</button>
                </form>
            </section>

            <section>
                <div><span>Form Results:</span></div>
                <div id="results">
                    <p>Agreement:</p><div id="agreement"></div>
                    <p>Subjectivity:</p><div id="subjectivity"></div>
                    <p>Confidence:</p><div id="confidence"></div>
                    <div id="error"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Nihillux 2022 &copy</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
