form {
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    min-height: 50px;
    line-height: 16px;
    margin: 10px 0;
}

div {
    padding-bottom: 15px;
}

p{
    margin-bottom: 10px;
    margin-top: 25px;
    font-weight: 700;
}

span{
    font-weight: 900;
}